*.4ct
*.4tc
*.alg
*.aux
*.bbl
*.blg
*.brf
*.code
*.dvi
*.err
*.fdb*
*.fls
*.glo
*.gls
*.hp
*.idv
*.lo?
*.log
*.lot
*.out
*.pyg
*.tmp
*.toc
*.tpt
*.lbl
*.idx
*.ilg
*.ind
*.thm
*.ps
*.xref
*.code
*.html
*.css
*.lg
thesis-example.pdf
thesis-example*.png
/tmp
/thesis-example.synctex.gz*
